#blue{
    font-size: 440px;
    margin: 0%;
    padding: 0%;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

   
}
hr{
    border-top: 15px solid black;
}

 .ali{ 
     font-size: 50px;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

     text-align:right;
    
     margin-top:-79px;
   
}





