
    /* font-size custom size 16px */
    p{
        font-size: large;
        font-size: larger;
        font-size: small;
        font-size: smaller;
        font-size:medium;
        font-size:x-large;
        font-size: 16px;
    }
    /* font-weight */
    p{
        font-weight: bold;
        font-weight: lighter;
        font-weight:900 !important;
        font-weight:normal;
        font-weight:bolder;
        
    }
    /* font-family */

    p{
        font-family:  serif;
        font-family: fantasy;
        font-family: monospace;
        font-family: cursive;
        font-family: sans-serif;
        font-family: Arial, Helvetica, sans-serif;       /*custom font family*/
    }
     /* font-varient */
    p{
      font-variant: normal ;
      font-variant: small-caps;
    }

    /* font-style */
    p{
        font-style: normal;
        font-style: oblique;
        font-style:italic;
        font-style:unset;
        
    
    }

    /* alignments */
    p{
        text-align: right !important;
        text-align: end;
        text-align: left ;
        text-align: start;
    }
    /* word-spacing */
    p{
        word-spacing: normal;
        word-spacing: 23px;
    }
    /* line_height */
    p{
        line-height: 100px;
    }
    /* letter-spacing */
    p{
        letter-spacing: 10px !important;
        letter-spacing: normal;
    }

    p{
        text-transform: capitalize;
        text-transform: lowercase;
        text-transform: uppercase !important;
        text-transform: unset;
    }
    p{
     text-decoration-line: underline;
     text-decoration-line: overline;
     text-decoration-line: line-through;
    }
    p{
        text-decoration-color:  yellow;
       
    }
    p{
        text-decoration-style: double;
        text-decoration-style: wavy;
    }
 