.Ruby{
    height: 300px;
    width: 300px;
    background-color: orange;
    border-radius: 100%;
    margin-left: 300px;
    padding-left: 50px;
    padding-top: 55px;
    padding-right: 10px;
    box-sizing: border-box;
  
    
    
}
.java{
    height: 200px;
    width: 200px;
    background-color: black;
    border-radius: 50%;
    box-sizing: border-box;
    padding-top: 50px;
    padding-left: 40px;
   
   
    
}
.isi{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
  

   
}